$total-degrees: 45;
$max-photos-in-collection: 100;

.polaroid-photo {
  @for $i from 1 through $total-degrees {
    &.polaroid-angle-#{$i} {
      transform: rotate(#{$i}deg);
    }
  }

  @for $i from 1 through $total-degrees {
    &.polaroid-angle-neg-#{$i} {
      transform: rotate(#{$i * -1}deg);
    }
  }

  @for $i from 1 through $max-photos-in-collection {
    &.z-#{$i} {
      z-index: $i;
    }
  }

  position: absolute;
  display: block;
  margin: 0;
  list-style-type: none;
  padding: 10px 10px 0px 10px;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3472/subtlepatterns-wavegrid.png');
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.5),
    inset 0 0px 2px rgba(0, 0, 0, 0.65);
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.5),
    inset 0 0px 2px rgba(0, 0, 0, 0.65);
  -moz-transition: -moz-transform 0.5s ease;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.5),
    inset 0 0px 2px rgba(0, 0, 0, 0.65);
  transition: transform 0.5s ease;
  &.active {
    margin-top: -70px;
    padding: 20px 20px 0px 20px;
    top: 0px;
    left: 450px;
    -webkit-transform: rotate(0deg) !important;
    -moz-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    p {
      text-align: center;
      margin: 40px 0px;
      font-size: 30px;
    }
    img {
      display: block;
      width: 500px;
    }
  }
  p {
    text-align: center;
    margin: 10px 0px;
  }
  img {
    display: block;
    width: 160px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), inset 0 10px 50px rgba(0, 0, 0, 0.7);
    border-radius: 2px;
    -webkit-transition: width 0.75s;
    -moz-transition: width 0.75s;
    transition: width 0.75s;
  }
}
